body{
    font-family: 'Roboto Condensed', helvetica, sans-serif;
    padding-left: 1%;
}

/*.container .col-md-3{
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    overflow: hidden;
    background-color: solid pink;
}*/